<style>
  .site-info{
    text-align: center;
  }
  .site-info a {
    color: white
  }
</style>
<header>
  <div class="site-info">
    <h2 class="site-name">It's hard work running a business and keeping this site updated! <br/>
      For the forseeable future I will be focusing all all my technical writing onto other platforms as traffic is much higher. 
      <br/> You can check there out in these spaces:
    <br/>
    <br />
    <a href="https://twitter.com/DigitalBeardy">Twitter</a>&nbsp;&nbsp;
    <a href="https://medium.com/@craig.beardy.digital">Medium</a>&nbsp;&nbsp;
    <a href="https://hackernoon.com/u/digitalbeardy">Hackernoon</a>&nbsp;&nbsp;
    <a href="https://coil.com/u/digitalbeardy">Coil</a>&nbsp;&nbsp;
    </h2>
  </div>
</header>
